:root {
  /* COLORS */
  --clr-white: #fff;
  --clr-background: #1b1924;
  --clr-btn-background: #444059;
  --clr-blue: #28a9f1;
  --clr-copy: #1b1924;
  --clr-btn-txt: #04131c;
  /* TYPOGRAPHY */
  --ff-primary: "Josefin Sans", sans-serif;
  --ff-secondary: "Inter", sans-serif;

  --fs-h1: 1.563rem;
  --fs-h2: 1.25rem;
  --fs-copy: 0.75rem;
  --fs-input: 0.938rem;
  --fs-btn: 1.375rem;

  --fw-700: 700;
  --fw-400: 400;
}

/* GENERALS */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #6b7280;
}

h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  color: var(--clr-white);
}

h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
  color: var(--clr-white);
}
/* Endorsment Block */
img {
  width: 90px;
  height: 90px;
}
.endorsment__block {
  background: #1b1924;
}

.endorsment__header {
  text-align: center;
}

.endorsment__input {
  width: 100%;
  /* display: block; */
}

.endorsment__publish-button {
  display: block;
  width: 100%;
}
